#text {
    color: white;
    font-family: 'Open Sans Condensed', sans-serif;
}

.index-body {
    margin-top: 20px;
    margin-bottom: 50px;
}

#secondary-text {
    color: white;
    font-family: 'Imbue', serif;
    font-size: 25px;
}

#secondary-text-head {
    color: white;
    font-family: 'Imbue', serif;
    font-size: 40px;
}

#nav-border {
    background-color: black;
}

#caro-img {
    width: auto;
    height: 280px;
    max-height: 280px;
}

#bio-pic {
    border: 2px solid white;
    width: 2000px;
    height: 350px;
}

.bio {
    display: flex;
    margin: 0 auto;
    margin-bottom: 65px;
    width: auto;
    height: auto;
    justify-content: center;
}

.bio-text {
    display: flex;
    justify-content: center;
    padding: 10px;
    margin-right: 30px;
    margin-left: 35px;
    margin-bottom: 35px;
    
}

#header-bio {
    display: flex;
    justify-content: center;
    padding: 10px;
    margin-bottom: -20px;
}

#card1 {
    width: 450px;
    height: 200px;
    display: flex;
    align-content: center;
}

.personal-box1 {
    border: 2px solid white;
    box-shadow: 10px 10px;
    display: flex;
    justify-content: center;
    width: 400px;
    height: 200px;
    background-color: black;
}

.personal-proj-box1 {
    border: 2px solid white;
    box-shadow: 10px 10px;
    display: flex;
    justify-content: center;
    width: 400px;
    height: 150px;
    background-color: black;
    margin-bottom: 25px;
}

.personal-box2 {
    border: 2px solid white;
    box-shadow: 10px 10px;
    display: flex;
    justify-content: center;
    margin-top: 40px;
    width: 400px;
    height: 250px;
    background-color: black;
}


.footer {
    position: fixed;
    left: 0;
    height: 45px;
    bottom: 0;
    width: 100%;
    background-color: black;
    color: white;
    text-align: center;
}

#sticky {
    color: lightgray;
    display: flex;
    font-size: 10px;;
    justify-content: center;
    margin-top: 14px;
}

.pbox1 {
    color: white;
    margin-right: 90px;
    margin-top: 5px;
    margin-bottom: 0 auto;
    font-size: 20px;
    font-family: 'Raleway', sans-serif;
}

.pbox2 {
    color: white;
    margin-right: 90px;
    margin-top: 5px;
    margin-bottom: 0 auto;
    font-size: 20px;
    font-family: 'Raleway', sans-serif;
}



.contact-box1 {
    display: flex;
    margin-top: 40px;
    flex-direction: column;
    justify-content: space-around;
    justify-content: center;
    
}

.headbox-1 {
    margin-left: 107px;
}

.headboxP-1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 12px;
}

.headbox-2 {
    margin-left: 100px;
}

.link-1 {
    display: flex;
    flex-direction: column;
    margin-left: -33px;
}

.L1, .R1 {
    margin-top: 22px;
}

.pic-header {
    font-size: 35px;
    color: white;
    font-family: 'Raleway', sans-serif;
    display: flex;
    justify-content: center;
    margin-top: 15px;
    margin-bottom: 10px;
}

.pic-lang {
    font-size: 18px;
    color: white;
    font-family: 'Raleway', sans-serif;
    display: flex;
    justify-content: center;
    margin-top: 15px;
    margin-bottom: 10px;
}

.me-pic {
    display: flex;
    justify-content: center;
}

.pro-pic {
    box-shadow: 10px 10px;
    border: 2px solid white;
}

.proj-text {
    color: white;
    font-family: 'Raleway', sans-serif;
    text-align: center;
}

#proj-bg {
    background-color: black;
    box-shadow: 10px 10px;
    margin-bottom: 15px;
}

.proj-buttons {
    display: flex;
    flex-direction: row;
}

#button-txt {
    color: white;
}

.code-wt {
    display: flex;
    justify-content: center;
}

#dep-btn {
    margin-right: 50px;
}

.proj-body-main {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 40px;
    margin-bottom: 65px;

}