h2 {
    text-align: center;
    font-style: oblique;
}

article {
    border: 10px solid blue;
    margin-bottom: 10px;
    padding: 10px;
}

.flex-container {
    display: flex;
    align-content: center;
    flex-direction: column;
    justify-content: center;
    width: 25em;
    margin: auto;
    align-content: space-between=10px;
}