.card1 {
    width: auto;
    height: auto;
}

.bigcont {
    display: flex;
    justify-content: center;
}

.card-header {
    color: blue;
    align-content: center;
}

.card-body1 {
    width: auto;
    display: flex;
    justify-content: center;
}